body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shaow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00bcd4;
}

/****************************************************
*                       Navbar
*****************************************************/
.navContainer {
  height: 100%;
}

.navContainer,
.contentContainer {
    padding: 0px !important;
}

.navbar {
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    display: flex;
    flex-direction: column;
}
.navbar a{
    text-decoration: none;
}
.navbar .active {
    background-color: #eee;
    border-left: 4px solid #00bcd4;
}

.menuButton {
    height: calc(100vh/8) !important;
}
span.menuButton  {
    display: flex !important;
}
span.menuButton div {
    align-self: center;
}

.navHeader {
    height: 100px;
    display: flex;
}
.navHeader div {
    margin: auto;
}

.hideMenuButton {
    margin-bottom: calc(100vh/8);
    margin-top: auto;
}
.hideMenuButton span div:first-child {
    padding-left: 30px;
}

/****************************************************
*                       Todo
*****************************************************/

.todoContent {
    padding: 10px 30px;
}

.todoContent > div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.todoContent > div::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.todoContent > div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00bcd4;
}

.newTask {
    margin-bottom: 30px;
    padding: 30px;
    border-left: 4px solid #00bcd4;
}
.newTask div:first-child {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.newTaskDate {
    margin: 0 20px;
    flex: 1;
}
.newTaskButton {
    margin: 0 20px;
    flex: 1;
    height: 36px;
}
.newTaskButton div {
    width: 100% !important;
}
.newTaskButton div span {
    margin: auto !important;
}
.newTaskText {
    margin: 0 20px;
    flex: 4;
}

.todo .checked td {
    text-decoration: line-through;
}

.deleteIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.todoContent div:first-child {
    max-height: 35vh;
}
/****************************************************
*                       Notes
*****************************************************/
.notesList {
    height: 58vh;
    overflow-x: hidden;
    border-left: 4px solid #00bcd4;
}

.notesList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.notesList::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.notesList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00bcd4;
}

.notesEditor {
    border-top: 4px solid #00bcd4;
    padding: 10px 20px;
}

.saveNotesButton {
    width: 100%;
    margin-top: 20px;
}

.noteEntry svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.notesList .activeNote {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 767px) {
	.notesEditor {
	    margin-top: 20px;
	}
	.notesList {
		height: auto;
	    max-height: 40vh;
	}
}

/****************************************************
*                       Homepage
*****************************************************/
.home .container {
	margin-top: 40px !important;
}

.homeTodo {
	min-height: 300px;
	border-left: 4px solid #00bcd4;
}

.homeTodoButton {
	width: 100%;
}

.homeNotesButton {
	width: 80%;
	display: block !important;
	margin: auto;
	border-radius: 50px !important;
}
.homeNotesButton,
.homeNotesButton button,
.homeNotesButton button div {
	height: 50px !important;
	border-radius: 40px !important;
}

.homeTodoButton,
.homeTodoButton button,
.homeTodoButton button div {
	height: 50px !important;
}
.homeTodoButton button div span,
.homeNotesButton button div span {
	display: block;
	padding-top: 7px;
}

.homeTodo .checked td {
    text-decoration: line-through;
}

.home .container  h1 {
    color: rgba(0,0,0,.7);
	font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .05em;
	width: 100%;
	text-align: center;
	margin: 0 0 30px 0;
}
.home .container h2 {
	color: rgba(0,0,0,.7);
	font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .03em;
    width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}

.home .frontIcons {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	flex-wrap: wrap;
}
.home .frontIcons a{
	height: 155px;
	min-width: 100px;
	width: 28%;
	background-color: #fff;
	border-bottom: 4px solid #00bcd4;
	text-decoration: none;
	transition: all .1s ease-in-out;
}

.home .frontIcons a:hover{
	cursor: pointer;
	transform: scale(1.02);
}

.home .frontIcons div h2 {
	margin-top: 20px;
	color: rgba(0, 0, 0, 0.54);
	font-weight: 500;

}

.home .frontIcons svg {
	display: block;
	margin-top: 30px;
	height: 50px !important;
	width: 100% !important;
	color: rgba(0, 0, 0, 0.54) !important;
}

.home .homeScreenEvents {
	padding: 10px;
	min-height: 350px;
	color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
	border-left: 4px solid #00bcd4;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  z-index: 1;
}
.home .homeScreenEvents .rbc-row-content {
	min-height: 50px;
	cursor: default;
}
.home .homeScreenEvents .rbc-event {
	cursor: default;
}

@media (max-width: 767px) {
	.homeTodoContainer {
		margin-bottom: 50px;
	}
	.home .container {
		margin-bottom: 40px !important;
	}
}

@media (min-width: 767px) {
	.home .homeScreenEvents {
	  margin-left: -40px;
	}
}


/****************************************************
*                       Events
*****************************************************/
.events .container {
	padding: 10px;
	color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
	border-top: 4px solid #00bcd4;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  z-index: 1;
}
.events .container h3,
.events .container p b {
	color: #00bcd4 !important;
}
.rbc-month-view,
.rbc-agenda-view {
	border-radius: 2px;
}
.rbc-toolbar {
	flex-wrap: wrap;
}
.rbc-toolbar button {
	border-color: rgba(0, 188, 212, .3) !important;
	text-transform: capitalize;
}
.rbc-row-content {
	min-height: 70px;
	cursor: pointer;
}
.rbc-date-cell {
	z-index: -1;
}
.rbc-event {
	background-color: #00bcd4 !important;
	transition: all .3s ease-out;
}
.rbc-event:hover {
	background-color: #00a4b9 !important;
}
.rbc-event-content {
	font-size: .8em;
}

@media all and (max-width: 800px) {
  .rbc-toolbar {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
	.rbc-toolbar > span {
		margin-top: 10px;
	}
}

/****************************************************
*                       General
*****************************************************/

.mainRow {
  min-height: 100%;
  display: flex;
  align-items: stretch;
}

.contentContainer {

}

.container {
    margin: 75px 3vw 0 !important;
}

.welcomeCard {
    transition: all .2s ease-in-out;
    padding: 100px;
    margin: 100px;
    text-align: center;
}
.welcomeCard input {
    text-align: center;
}

.appBar {
    height: 100px;
    padding-top: 15px;
}

.notFound h1 {
    text-align: center;
}

.errorMsg {
	color: #e74c3c;
}
